.footer {
  display: grid;
  grid-template-columns: 10% 80% 10%;
  background-color: var(--color-light-gray-2);

  &-nav {
    grid-column: 2/3;

    &-menu {
      min-width: max-content;

      &-container {
        display: flex;
        align-items: center;
        height: 10rem;
      }

      &-link {
        color: var(--color-light-gray);
        padding: 0.5rem 0;
        font-size: 1.6rem;
        text-decoration: none;
        z-index: 2;
        height: min-content;
        width: 80%;
        text-align: center;
        margin-right: 4rem;
        transition: all 0.5s cubic-bezier(0.81, 0.13, 0.93, 1.21);
        position: relative;

        @media only screen and (max-width: $large) {
          font-size: 1.1rem;
        }

        &-dropdown {
          font-size: 1.6rem;
          text-decoration: none;
          color: var(--color-light-gray);
          padding: 0.5rem 0;
          margin-right: 4rem;
          text-align: center;
          width: 80%;
          z-index: 2;
          transition: all 0.5s cubic-bezier(0.81, 0.13, 0.93, 1.21);
          position: relative;

          @media only screen and (max-width: $large) {
            font-size: 1.1rem;
          }

          &:hover {
            cursor: pointer;
            color: var(--color-dark-gray);
          }

          &:hover > ul {
            visibility: visible;
            opacity: 1;
          }

          &-sub {
            color: var(--color-dark-gray);
            padding: 0.5rem 0.5rem;
            font-size: 1.6rem;
            height: min-content;
            width: 100%;
            text-align: center;
            background-color: white;
            text-align: center;
            z-index: 2;
            transition: all 0.5s cubic-bezier(0.81, 0.13, 0.93, 1.21);

            @media only screen and (max-width: $large) {
              font-size: 1.1rem;
            }

            &:nth-child(1) {
              border-bottom: 0.1rem solid black;
            }

            &:hover {
              cursor: pointer;
              color: white;
              background-color: #333333;
            }

            a {
              text-decoration: none;
              color: inherit;
            }
          }
        }

        &:hover {
          cursor: pointer;
          color: var(--color-dark-gray);
        }
      }

      &-dropdown {
        list-style: none;
        position: absolute;
        margin-top: 1rem;
        top: -8rem;
        left: 0;
        min-width: max-content;
        height: max-content;
        visibility: hidden;
        opacity: 0;
        transition: all 1s cubic-bezier(0.81, 0.13, 0.93, 1.21);
      }
    }
  }

  &-copyright {
    grid-column: 2/3;
    text-align: center;
    padding: 0 0 1.5rem 0;
    font-size: 1.2rem;
  }
}
