.nav {
  display: grid;
  grid-template-columns: repeat(10, 1fr);

  &-container {
    grid-column: 2/-1;
    grid-row: 1/1;
    border-bottom: 0.1rem solid black;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    align-items: baseline;
  }

  &-current {
    margin-left: 4rem;
    margin-bottom: -1.2rem;
    text-transform: capitalize;
    font-size: 3rem;
    font-weight: 300;
    letter-spacing: 0.3rem;
    padding: 0;
    color: var(--color-dark-gray-2);
    text-shadow: 0 0.1rem 0.3rem var(--color-dark-gray-2);
    position: relative;

    @media only screen and (max-width: $large) {
      font-size: 2rem;
      margin-bottom: -0.8rem;
    }

    @media only screen and (max-width: $medium) {
      font-size: 1.4rem;
      margin-bottom: -0.5rem;
    }

    @media only screen and (max-width: $extra-small) {
      font-size: 0.6rem;
      margin-bottom: -0.2rem;
    }

    &:before {
      content: '';
      position: absolute;
      top: -3rem;
      left: -0.2rem;
      margin-bottom: 2rem;
      height: 8rem;
      width: 100%;
      border-left: 0.1rem solid black;

      @media only screen and (max-width: $medium) {
        top: -2.5rem;
        height: 5rem;
      }

      @media only screen and (max-width: $extra-small) {
        top: -1rem;
        height: 3rem;
      }
    }

    &-container {
      grid-column: 2/6;
      grid-row: 1/1;
      display: flex;
      align-items: flex-end;

      @media only screen and (max-width: $medium) {
        grid-column: 2/8;
      }
    }
  }

  &-menu {
    grid-column: 6/8;
    margin-top: 5rem;
    position: relative;

    @media only screen and (max-width: $medium) {
      display: none;
    }

    &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      border-left: 0.3rem solid orangered;
      border-right: 0.3rem solid #fdc518;
      transition: all 1s cubic-bezier(0.81, 0.13, 0.93, 1.21);
    }

    &:hover:before {
      transform: rotateY(180deg);
    }

    &:after {
      content: '';
      position: absolute;
      width: calc(100% + 8rem);
      height: 100%;
      top: 0;
      left: -4rem;
      border-top: 0.3rem solid black;
    }

    &-container {
      display: flex;
      justify-content: space-evenly;
      height: 5rem;
      padding: 0 0.3rem;
    }

    &-link {
      color: var(--color-dark-gray);
      padding: 0.5rem 0;
      font-size: 1.6rem;
      text-decoration: none;
      z-index: 2;
      height: min-content;
      width: 80%;
      text-align: center;
      transition: all 0.5s cubic-bezier(0.81, 0.13, 0.93, 1.21);
      position: relative;

      @media only screen and (max-width: $large) {
        font-size: 1.1rem;
      }

      &-dropdown {
        font-size: 1.6rem;
        text-decoration: none;
        color: var(--color-dark-gray);
        padding: 0.5rem 0;
        text-align: center;
        width: 80%;
        z-index: 2;
        transition: all 0.5s cubic-bezier(0.81, 0.13, 0.93, 1.21);
        position: relative;

        @media only screen and (max-width: $large) {
          font-size: 1.1rem;
        }

        &:hover {
          cursor: pointer;
        }

        &:hover > ul {
          visibility: visible;
          opacity: 1;
        }

        &-sub {
          color: var(--color-dark-gray);
          padding: 0.5rem 0.5rem;
          font-size: 1.6rem;
          z-index: 2;
          height: min-content;
          width: 100%;
          text-align: center;
          background-color: white;
          text-align: center;
          transition: all 0.5s cubic-bezier(0.81, 0.13, 0.93, 1.21);

          @media only screen and (max-width: $large) {
            font-size: 1.1rem;
          }

          &:nth-child(1) {
            border-bottom: 0.1rem solid black;
          }

          &:hover {
            cursor: pointer;
            color: white;
            background-color: #333333;
          }

          a {
            text-decoration: none;
            color: inherit;
          }
        }
      }

      &:hover {
        cursor: pointer;
        color: white;
        background-color: #333333;
      }
    }

    &-dropdown {
      list-style: none;
      position: absolute;
      margin-top: 1rem;
      left: 0;
      min-width: max-content;
      height: max-content;
      visibility: hidden;
      opacity: 0;
      transition: all 1s cubic-bezier(0.81, 0.13, 0.93, 1.21);
    }
  }

  &-mobile {
    grid-column: 1/-1;
    display: none;

    @media only screen and (max-width: $medium) {
      display: block;
    }

    &-container {
      grid-column: 7/8;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 1.2rem;
      padding: 1rem 5rem;
      margin: 1rem 5rem 0 0;
    }

    &-checkbox {
      display: none;
    }

    &-checkbox:checked ~ &-background {
      opacity: 1;
      transform: scale(80);
    }

    &-checkbox:checked ~ &-nav {
      opacity: 1;
      width: 100%;
    }

    &-icon {
      position: relative;

      &,
      &:before,
      &:after {
        width: 3rem;
        height: 0.2rem;
        background-color: black;
        display: inline-block;
      }

      &:before,
      &:after {
        content: '';
        position: absolute;
        left: 0;
        transition: all 0.2s;
      }

      &:before {
        top: -0.6rem;
      }

      &:after {
        top: 0.6rem;
      }
    }

    &-menu {
      display: flex;
      align-items: center;
      position: relative;
    }

    &-button {
      display: flex;
      align-items: center;
      border-radius: 50%;
      height: 3rem;
      width: 3rem;
      z-index: 800;
      cursor: pointer;
      margin-right: -3rem;
    }

    &-button:hover &-icon:before {
      top: -1rem;
    }

    &-button:hover &-icon:after {
      top: 1rem;
    }

    &-checkbox:checked + &-button &-icon {
      background-color: transparent;
    }

    &-checkbox:checked + &-button &-icon:before {
      top: 0%;
      transform: rotate(135deg);
    }

    &-checkbox:checked + &-button &-icon:after {
      top: 0%;
      transform: rotate(-135deg);
    }

    &-checkbox:checked ~ &-nav &-list {
      display: block;
    }

    &-background {
      position: fixed;
      height: 3rem;
      width: 3rem;
      border-radius: 50%;
      opacity: 0;
      background-color: white;
      z-index: 100;
      transition: all 1s cubic-bezier(0.86, 0, 0.07, 1);
    }

    &-nav {
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 500;
      opacity: 0;
      width: 0;
      transition: all 1s cubic-bezier(0.68, -0.6, 0.32, 1.6);
    }

    &-list {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      transform: translate(-50%, -50%);
      list-style: none;
      text-align: center;
      display: none;

      &-item {
        margin: 2rem;
      }

      &-link {
        &:link,
        &:visited {
          display: inline-block;
          font-size: 1.4rem;
          font-weight: 300;
          color: var(--color-dark-gray);
          padding: 0.2rem 2rem;
          text-transform: uppercase;
          text-decoration: none;
          background-image: linear-gradient(
            120deg,
            transparent 0%,
            transparent 50%,
            var(--color-dark-gray) 50%
          );
          background-size: 250%;
          transition: all 0.4s;
        }

        &:hover,
        &:active {
          background-position: 100%;
          color: white;
          transform: translateX(1rem);
        }
      }
    }
  }
}
