.header {
  display: grid;
  grid-template-columns: 1fr [center-start] 20rem [center-end] 1fr;
  justify-content: center;
  animation: fadeIn 3s ease forwards;

  &-container {
    grid-column: 2/3;
    display: grid;
    justify-content: center;
  }

  &-title {
    grid-column: 1/-1;
    margin-top: 10rem;
    font-size: 3.6rem;
    color: var(--color-dark-blue);

    span {
      font-weight: 100;
    }
  }

  &-subheading {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 200;
    margin-top: 6rem;

    span b {
      font-weight: 800;
    }

    span:nth-child(2) {
      margin-top: 3rem;
      font-size: 2rem;
      letter-spacing: 0.5rem;
      font-weight: 800;
    }
  }

  &-button {
    margin: 4rem 0;
    width: max-content;
    background-color: var(--color-light-green);
    color: white;
    padding: 1rem 3rem;
    border: none;
    outline: none;
    text-transform: uppercase;
    filter: brightness(1.1);
    font-size: 1.2rem;
    transition: all 1s;

    &-container {
      display: flex;
      justify-content: center;
    }

    &:hover {
      cursor: pointer;
      background-color: var(--color-dark-green);
    }
  }

  &-line-left {
    grid-column: 1/2;
    border-top: 0.1rem solid #aaa8a8;
    width: 30%;
    margin-top: -2.5rem;

    &-2 {
      grid-column: 1/2;
      border-top: 0.1rem solid black;
      width: 30%;
      margin-left: 3rem;
      margin-top: 3rem;
    }
  }

  &-line-right {
    border-top: 0.1rem solid #aaa8a8;
    width: 30%;
    margin-top: 4rem;

    &-2 {
      border-top: 0.1rem solid black;
      width: 8%;
      margin-top: 12rem;
    }

    &-container {
      grid-column: 3/3;
      display: flex;
      justify-content: flex-end;
    }
  }
}

.description {
  display: grid;
  grid-template-columns: 1fr 80rem 1fr;
  animation: fadeIn 3s ease forwards;

  @media only screen and (max-width: $medium) {
    grid-template-columns: 1fr;
  }

  &-line {
    grid-column: 1/1;
    grid-row: 1/1;
    width: 30%;
    border-top: 0.1rem solid black;

    &-right {
      grid-column: 1/1;
      border-right: 0.2rem solid black;
      height: 10rem;

      &-2 {
        grid-column: 1/1;
        height: 4rem;
        border-right: 0.2rem solid black;
        margin-top: 2rem;

        @media only screen and (max-width: $medium) {
          display: none;
        }
      }
    }

    &-left {
      grid-column: 3/3;
      border-left: 0.2rem solid black;
      height: 5rem;
    }
  }

  &-button {
    margin: 4rem 0;
    width: max-content;
    background-color: var(--color-light-green);
    color: white;
    padding: 1rem 3rem;
    border: none;
    outline: none;
    text-transform: uppercase;
    filter: brightness(1.1);
    font-size: 1.2rem;
    transition: all 1s;

    &-container {
      grid-column: 2/3;
      display: flex;
      justify-content: center;

      @media only screen and (max-width: $medium) {
        grid-column: 1/-1;
      }
    }

    &:hover {
      cursor: pointer;
      background-color: var(--color-dark-green);
    }
  }

  &-heading {
    font-weight: 200;
    grid-column: 2/3;
    grid-row: 1/1;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;

    @media only screen and (max-width: $medium) {
      grid-column: 1/-1;
    }

    &-2 {
      grid-column: 2/3;
      text-transform: uppercase;
      text-align: center;
      margin-top: 0.5rem;
      font-size: 3rem;
      font-weight: 300;
      letter-spacing: 0.3rem;
      color: var(--color-dark-gray-2);
      text-shadow: 0 0.1rem 0.3rem var(--color-dark-gray-2);

      @media only screen and (max-width: $medium) {
        font-size: 2rem;
        grid-column: 1/-1;
      }
    }

    span {
      text-align: center;
      font-size: 1.6rem;

      @media only screen and (max-width: $medium) {
        font-size: 1.4rem;
        padding: 1rem;
      }

      &:nth-child(2) {
        margin-top: 2rem;
      }

      span {
        color: var(--color-light-gray);
        font-size: 3rem;
        margin-left: 2rem;

        @media only screen and (max-width: $medium) {
          margin-left: 1rem;
        }
      }
    }
  }
}
