.services {
  grid-column: 2/3;
  padding: 10rem 0 30rem 0;
  height: 100%;
  color: black;

  @media only screen and (max-width: $desktop) {
    padding: 10rem 0 40rem 0;
  }

  @media only screen and (max-width: $medium) {
    padding: 10rem 0 20rem 0;
  }

  &-container {
    display: grid;
    grid-template-columns: 30% 40% 30%;
    justify-content: center;

    @media only screen and (max-width: $large) {
      grid-template-columns: 20% 60% 20%;
    }

    @media only screen and (max-width: $small) {
      grid-template-columns: 1fr;
      padding: 0 3rem;
    }
  }

  &-heading {
    font-size: 4.2rem;
    color: black;
    font-weight: 100;
  }

  &-person {
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 5rem 0;
    font-size: 1.2rem;
    border-bottom: 0.1rem solid black;

    &-subheading {
      font-size: 1.4rem;
    }
  }

  &-summary {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem;

    @media only screen and (max-width: $small) {
      grid-template-columns: 1fr;
    }

    &-skills {
      // display: grid;

      &-group {
        display: grid;
        // padding: 1rem 0;
      }
    }

    &-experience {
      display: grid;

      &-group {
        display: grid;
        // padding: 1rem 0;
      }
    }

    &-heading {
      font-size: 1.4rem;
      padding: 2rem 0;
      font-weight: 800;
    }

    &-subheading {
      font-size: 1.4rem;
    }

    &-description {
      font-size: 1.4rem;
      padding: 2rem 0;
    }

    &-resume {
      display: flex;
      padding: 2rem 0;

      img {
        width: 50%;
        height: 100%;
      }

      &-download {
        font-size: 1.2rem;
        color: var(--color-dark-gray);
        text-decoration: none;
        padding: 1rem 2rem;
        background-color: white;
        border: 0.1rem solid var(--color-dark-gray);
        transition: all 1s;

        &:hover {
          cursor: pointer;
          color: white;
          background-color: var(--color-light-green);
        }
      }
    }
  }
}
