:root {
  --color-dark-gray: #333333;
  --color-dark-gray-2: #6c6b6b;
  --color-light-green: #78b453;
  --color-dark-green: #699e49;
  --color-dark-blue: #103251;
  --color-light-gray: #cecdcd;
  --color-light-gray-2: #f1f1f1;
  --color-light-gray-3: #8c8b8b;
}

// Fonts
$font-primary: 'marine', sans-serif;
$font-secondary: 'marine-up', sans-serif;

$ig-small-screen: 768px !default;
$ig-xsmall-screen: 480px !default;
$ig-white: #fff !default;
$ig-black: #000 !default;
$ig-blue: #337ab7 !default;
$ig-background-black: rgba(0, 0, 0, 0.4) !default;
$ig-transparent: rgba(0, 0, 0, 0) !default;

// Breakpoints
$desktop: 1920px;
$extra-large: 1366px;
$large: 1024px;
$medium: 736px;
$small: 568px;
$extra-small: 360px;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

html,
body {
  overflow-x: hidden;
}

body {
  font-family: $font-primary;
  font-weight: 200 !important;
  font-style: normal;
  color: black;
  line-height: 1.6;
}
